###
# This file configures the project "Piper" pipeline of your project.
# For a reference of the configuration concept and available options, please have a look into its documentation.
#
# The documentation for the most recent pipeline version can always be found at:
#    https://sap.github.io/jenkins-library/
#
# This is a YAML-file. YAML is an indentation-sensitive file format. Please make sure to properly indent changes to it.
###



### General project setup
general:
  gitHttpsCredentialsId: 'git-credentials-xx'
  buildTool: 'mta'
  productiveBranch: 'master'
  verbose: true

### Step-specific configuration
steps:
  artifactPrepareVersion:
    versioningType: library
  
  artifactSetVersion:
    commitVersion: false

  cloudFoundryDeploy:
    cloudFoundry:
      org: 'ic-adv-dev-cf'
      space: 'Dev - CI/CD Trainer'
      credentialsId: 'cf-credentials-xx'

### Stage-specific configuration
stages:
  'Central Build':
    buildExecute : true

  'Additional Unit Tests':
    npmExecuteScripts:
       install: true
       runScripts: 'unit-tests'
       dockerImage: 'docker pull tbendrath/node-browsers:v11-14-buster'

  'Integration':
    npmExecuteScripts:
      install: true
      runScripts: 'int-tests'
      dockerImage: 'docker pull tbendrath/node-browsers:v11-14-buster'

  'Acceptance':
    cloudFoundryDeploy: false

  'Confirm':
    manualConfirmation: false

  'Release':
    cloudFoundryDeploy: true